
# ignore all other config files
.*
*/
*

# except ones I am actually tracking
# also allow all subdirs
!.gitignore
!nvim/
!nvim/**
!kitty/
!kitty/**
!fish/
!fish/**
!hypr/
!hypr/**
!neofetch/
!neofetch/**
!foot/
!foot/**
!waybar/
!waybar/**
!iosevka-build-plans.toml
